@import 'tailwindcss';

@import 'flag-icons/css/flag-icons.min.css';

@import '../styles/variables.css';
@import '../styles/color-safelist.css';
@import '../styles/typography.css';
@import '../styles/common.css';
@import '../styles/base.css';
@import '../styles/button.css';
@import '../styles/badge.css';
@import '../styles/header.css';
@import '../styles/lenis.css';

@custom-variant dark (&:where(.dark, .dark *));
